canvas {
    background: "blue";
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    border: 5px ridge blue;
}

textarea {
    display: block;
    margin: auto;
    resize: none;
    text-align: justify;
    color: #000000;
    border: 5px ridge blue;
    padding: 5px;
}