canvas {
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    border: 5px ridge black;
}

textarea {
    display: block;
    margin: auto;
    resize: none;
    text-align: justify;
    color: #000000;
    border: 7px ridge #e1e1e1;
    padding: 5px;
}